.no-spinner{
    -moz-apparence:textfield;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.errorClass{
    outline: 2px;
    outline-color: #7d110e;
}